@model RT334015_MIS4200.Models.Doctor

@{
    ViewBag.Title = "View Doctor Details";
}

    <h2>View Doctor Details</h2>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.experience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.experience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doctorFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doctorFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doctorLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doctorLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doctorEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doctorEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doctorPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doctorPhone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.doctorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
